<header class="page-header mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="page-header-logo mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Magic317</span>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="page-header-nav mdl-layout__header-row">
        <!-- Navigation -->
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="{% url 'blog:index' %}">首页</a>
            {% for category in category_list %}
                <a class="mdl-navigation__link" href="{% url 'blog:category' category.cname %}">{{ category.cname }}</a>
            {% endfor %}
        </nav>
    </div>
</header>

