{% extends 'blog/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/index_style.css' %}">
{% endblock %}

{% block header %}
    {% include 'blog/header.html' %}
{% endblock %}

{% block drawer %}
    {% include 'blog/drawer.html' %}
{% endblock %}

{% block content %}
    <div class="page-content-max-width">
        <form action="#" method="get">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
            </div>
        </form>
        <div class="mdl-grid">
            {% block article_list %}
                {% include 'blog/index_list.html' %}
            {% endblock %}
        </div>
        <div class="loading">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                加载更多......
            </a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'blog/footer.html' %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#search").bind('input propertychange', function () {
                var keyword = $(this).val();
                if (keyword == '') {
                    $.ajax({
                        url: 'index_list',
                        teyp: 'GET',
                        dataType: 'html',
                        success: function (data) {
                            $('mdl-grid').empty();
                            $('.mdl-grid').html(data);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'ajax/search',
                        data: {
                            'keyword': keyword
                        },
                        teyp: 'GET',
                        dataType: 'html',
                        success: function (data) {
                            $('mdl-grid').empty();
                            $('.mdl-grid').html(data);
                        }
                    });
                }
            });
        });

    </script>
{% endblock %}

